# Data
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.ipynb_checkpoints

# Models
models/checkpoints/*
models/saved/*
models/figures/*
!models/figures/.gitkeep
models/artifacts/*
!models/artifacts/.gitkeep
catboost_info/
*.h5
*.pkl
*.pt

# Node / Frontend
node_modules/
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
